<div class="border">
    <div class="row">
        <div class="col" >
          <div class="row">
              <div class="col col-lg-4" >
                  <div  class="input-group mb-3 input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroup-sizing-default">
                          Intent:
                        </span>
                      </div>
                      <input #name [attr.disabled]="disabled? true:null" type="text" class="form-control" [(ngModel)]="criteria.intent"/>

                  <div *ngIf="!disabled" class="input-group-append">
                      <button type="button" class="btn btn-outline-dark" (click)="addEntity()"> + </button>
                    </div>
                  </div>
                </div>
              <div class="col col-lg-4" >
                  <div class="input-group mb-3 input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroup-sizing-default">
                          minConfidence:
                        </span>
                      </div>
                      <input #confidence [attr.disabled]="disabled? true:null" type="number" class="form-control" [(ngModel)]="criteria.minConfidence"/>
                  </div>
                </div>
            <div class="col col-lg-4" >
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                            id="inputGroup-sizing-default">
                        Next:
                      </span>
                    </div>
                    <input #next [attr.disabled]="disabled? true:null" type="text" class="form-control" [(ngModel)]="criteria.nextTurn"/>
                </div>
              </div>
          </div>
            <div *ngFor="let entity of criteria.entities">
              <app-criteria-entity [entity]=entity [disabled]="disabled? true:null"></app-criteria-entity>
            </div>
        </div>
    </div>
  </div>
