<div class="container">
  <br>
    <div class="row">
      <div class="col">
          <h3>This is the Test NLU!</h3>
          <br>
      </div>
    </div>
    <div class="row" >
        <div class="col col-lg-10" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                      Request:
                </span>
              </div>
              <input [(ngModel)]="result.query"
                      type="text"
                      class="form-control"
                      required
                      placeholder="{{result.query}}"/>
            </div>
        </div>
        <div class="col col-lg-2" >
          <div *ngIf="!intentButtonOn">
            <button type="button" class="btn btn-outline-success" (click)="sendRequest()">Send</button>
          </div>
          <div *ngIf="intentButtonOn">
              <button type="button" class="btn btn-outline-success" (click)="stopRequest()">Stop</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" >
        <div class="col col-lg-10" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                      Response:
                </span>
              </div>
              <textarea [(ngModel)]="response" class="form-control" rows="15">{{response}}</textarea>
            </div>
        </div>
      </div>
        <!-- <div class="row">
            <div class="col-lg-10">
              <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
                  {{errorText}}
                </div>
              <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
                  <li *ngFor="let message of messages">
                    {{message}}
                  </li>
                </div>
              </div>
            <div class="col col-lg-1">
                <div *ngIf="!speakButtonOn">
                    <button type="button" class="btn btn-outline-success" (click)="startSpeak()">Speak</button>
                  </div>
                  <div *ngIf="!listenButtonOn">
                    <button type="button" class="btn btn-outline-success" (click)="startListen()">Listen</button>
                  </div>
                  <div *ngIf="listenButtonOn">
                      <button type="button" class="btn btn-outline-success" (click)="stopListen()">Stop</button>
                  </div>
            </div>
          </div> -->
  </div>


