<div class="container">
  <br>
    <div class="row">
      <div class="col">
          <h3>Testcase Editor</h3>
          <br>
      </div>
    </div>
    <div class="row">
        <div class="col col-lg-10" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                  Select Dialog:
                </span>
              </div>
            <select [(ngModel)]="dialog"
                    class="custom-select"
                    (change)="setDialog()" >
                    <option *ngFor="let aDialog of dialogs"
                    value="{{aDialog}}">
                      {{aDialog}}
                   </option>
            </select>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-dark" (click)="loadDialogs()"> load </button>
            </div>
          </div>
    <div class="row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Select Testcase:
              </span>
            </div>
          <select [(ngModel)]="testCase"
                  class="custom-select"
                  (change)="setTestCase()" >
                 <option *ngFor="let tc of testCases"
                 [ngValue]="tc">
                    {{tc.prompt}}
                 </option>

          </select>
          <!-- <div class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="loadTestCase()"> load </button>
          </div> -->
        </div>
        <hr>
    </div>
