<div class="row">
    <div class="col" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
                  Prompt:
            </span>
            </div>
          <input [(ngModel)]="prompt"
                  type="text"
                  class="form-control"
                  required
                  placeholder="{{prompt}}"/>
          <div *ngIf="!speakButtonOn" class="input-group-append">
              <button type="button" class="btn btn-outline-success" (click)="startSpeak()">Speak</button>
            </div>
          <div *ngIf="speakButtonOn" class="input-group-append">
              <button type="button" class="btn btn-outline-danger" (click)="stopSpeak()">Stop</button>
            </div>
  </div>
