<hr>

<app-wakeword [wakeword]="wakeword" (setWakewordOn)="onSetWakeword($event)" ></app-wakeword>
<app-prompt [wakeword]="wakeword" [prompt]="prompt" (stopSpeakOn)="onStopSpeak($event)" ></app-prompt>
<app-response (listenResultOn)="onListenResult($event)"></app-response>

<hr>
<div *ngIf="!testResultFlag">
  <div class="row">
    <div class="col">
      <h3>Criteria</h3>
    </div>
  </div>
  <app-criteria [criteria]=testCriteria [disabled]=disabled></app-criteria>
</div>

<div *ngIf="testResultFlag && testResult" >
    <div class="row">
        <div class="col">
          <h3>Result</h3>
        </div>
    </div>
  <app-result [criteria]=testCriteria [result]=testResult></app-result>
</div>


