<hr>

<app-wakeword [wakeword]="testCase.wakeword" (setWakewordOn)="onSetWakeword($event)" ></app-wakeword>
<app-prompt [wakeword]="testCase.wakeword" [prompt]="testCase.prompt" (stopSpeakOn)="onStopSpeak($event)" ></app-prompt>
<app-response (listenResultOn)="onListenResult($event)"></app-response>

<hr>
<div *ngIf="!resultFlag">
  <div class="row">
    <div class="col">
      <h3>Criteria</h3>
    </div>
  </div>
  <div *ngFor="let criteria of criterias">
      <app-criteria [criteria]=criteria [disabled]=disabled></app-criteria>
  </div>
</div>

<div *ngIf="resultFlag && result" >
    <div class="row">
        <div class="col">
          <h3>Result</h3>
        </div>
    </div>
  <app-result [criteria]=testCase.criteria [result]=result (resultOn)="onResult($event)"></app-result>
</div>


