<div class="border">
  <div class= "row">
    <div class="col-8" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Wakeword:
              </span>
              </div>
            <input [(ngModel)]="wakeword"
                    (change)="changeWakeword()"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{wakeword}}"/>
          </div>
    </div>
   <div class="col-4">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
                Name:
            </span>
            </div>
          <input [(ngModel)]="name"
                  (change)="changeName()"
                  type="text"
                  class="form-control"
                  placeholder="{{name}}"/>
          <div class="input-group-append">
              <button type="button" class="btn btn-outline-dark" (click)="addCriteria()"> + </button>
            </div>
          </div>
   </div>
  </div>
   <div class= "row">
    <div class="col-12" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Prompt:
              </span>
              </div>
            <input [(ngModel)]="prompt"
                    (change)="changePrompt()"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{prompt}}"/>
          </div>
    </div>
  </div>

  <div *ngFor="let criteria of criterias">
    <app-criteria [criteria]=criteria [disabled]=disabled></app-criteria>
  </div>
</div>

