<div class="border">
  <div class= "row">
    <div class="col-8" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Prompt:
              </span>
              </div>
            <input [(ngModel)]="prompt"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{prompt}}"/>
          </div>
    </div>
   <div class="col-4">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
                Name:
            </span>
            </div>
          <input [(ngModel)]="name"
                  type="text"
                  class="form-control"
                  placeholder="{{name}}"/>
      </div>
   </div>
  </div>
  <div *ngFor="let criteria of criterias">
    <app-criteria [criteria]=criteria></app-criteria>
  </div>
</div>

