<div class="row">
  <div class="col lg-1" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Dialog:
          </span>
        </div>

      <select [(ngModel)]= "dialog" class="custom-select" (change)="changeDialog()">
              <option *ngFor="let d of dialogs" [ngValue]="d">
                  {{d.description}}
              </option>
      </select>
      <div *ngIf="editorMode" class="input-group-append">
        <button type="button" class="btn btn-outline-dark" (click)="addDialog()"> + </button>
      </div>
      <div *ngIf="!editorMode" class="input-group-append">
        <button type="button" class="btn btn-outline-success float-right" (click)="testDialog()">Test</button>
    </div>
    </div>
  </div>
</div>
