<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Editor</h3>
        <br>
    </div>
  </div>
  <app-dialog-selector (selectDialogOn)="onSelectDialog($event)"></app-dialog-selector>
  <hr>
  <div *ngIf="dialog">
    <div *ngFor="let turn of dialog.turns">
      <app-test-turn [turn]=turn></app-test-turn>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col ">
      <button type="button" class="btn btn-outline-dark float-right" (click)="addTurn()"> Add Turn</button>
      <button type="button" class="btn btn-outline-success float-right" (click)="save()"> Save</button>
    </div>
  </div>
</div>
