<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Editor</h3>
        <br>
    </div>
  </div>
  <div class="row">
      <div class="col lg-1" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Dialog:
              </span>
            </div>
            <!-- (change)="loadDialog()" -->
          <select [(ngModel)]= "dialog" class="custom-select" >
                  <option *ngFor="let d of dialogs" [ngValue]="d">
                      {{d.description}}
                  </option>
          </select>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="addDialog()"> + </button>
          </div>
        </div>
      </div>
  </div>
  <hr>
  <div *ngIf="dialog">
    <div *ngFor="let turn of dialog.turns">
      <app-test-turn [turn]=turn></app-test-turn>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col ">
      <button type="button" class="btn btn-outline-dark float-right" (click)="addTurn()"> Add Turn</button>
      <button type="button" class="btn btn-outline-success float-right" (click)="save()"> Save</button>
    </div>
  </div>
</div>
