<div class="row">
    <div class="col col-lg-4" >
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Entity:
              </span>
            </div>
            <input #name [attr.disabled]="disabled? true:null" type="text" class="form-control" [(ngModel)]="entity.name"/>
        </div>
      </div>
    <div class="col col-lg-4" >
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                minConfidence:
              </span>
            </div>
            <input #confidence [attr.disabled]="disabled? true:null" type="number" class="form-control" [(ngModel)]="entity.minConfidence"/>
        </div>
      </div>
    <div class="col col-lg-4" >
      <div class="input-group mb-3 input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              Value:
            </span>
          </div>
          <input #value [attr.disabled]="disabled == true ? true : null" type="text" class="form-control" [(ngModel)]="entity.value"/>
      </div>
    </div>
</div>

