<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Review</h3>
        <br>
    </div>
  </div>
  <div class="row">
      <div class="col lg-1" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Test Result:
              </span>
            </div>
          <select [(ngModel)]= "testResult" class="custom-select" (change)="changeTestResult()">
                  <option *ngFor="let t of testResults" [ngValue]="t">
                      {{t.dialogDescription}} | {{t.assistant}}
                  </option>
          </select>
          <div *ngIf="!editFlag" class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="editResult()"> edit </button>
          </div>
          <div *ngIf="editFlag" class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="saveResult()"> save </button>
          </div>
        </div>
      </div>
  </div>
  <hr>
  <div *ngIf="testResult">
  <div *ngFor="let testCase of testResult.testcases">

      <div class="row">
          <div class="col" >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                        id="inputGroup-sizing-default">
                        Wakeword:
                  </span>
                  </div>
                <input  [attr.disabled]="!editFlag? true:null"
                        type="text"
                        class="form-control"
                        required
                        value="{{testCase.wakeword}}"/>
        </div>
      </div>
      <div class="col-4">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                    Name:
                </span>
                </div>
              <input  [attr.disabled]="!editFlag? true:null"
                      type="text"
                      class="form-control"
                      placeholder="{{testCase.name}}"/>
              </div>
       </div>
    </div>
    <div class="row">
        <div class="col" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                      Prompt:
                </span>
                </div>
              <input  [attr.disabled]="true"
                      type="text"
                      class="form-control"
                      required
                      value="{{testCase.prompt}}"/>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Response:
              </span>
              </div>
            <input  [attr.disabled]="true"
                    type="text"
                    class="form-control"
                    required
                    value="{{testCase.response}}"/>
      </div>
    </div>
  </div>
  <app-result [criteria]=testCase.criteria [result]=testCase.result></app-result>
  <hr>
  </div>
</div>
</div>


