<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Review</h3>
        <br>
    </div>
  </div>
  <div class="row">
      <div class="col lg-1" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Test:
              </span>
            </div>
          <select [(ngModel)]= "test" class="custom-select">
                  <option *ngFor="let t of tests" [ngValue]="t">
                      {{t}}
                  </option>
          </select>
          <!-- <div class="input-group-append">
            <button type="button" class="btn btn-outline-dark" (click)="load()"> + </button>
          </div> -->
        </div>
      </div>
  </div>
  <hr>
  <div>
    <app-result [criteria]=criteria [result]=time_result></app-result>
    <app-result [criteria]=criteria [result]=right_result></app-result>
  </div>
  <!-- <div *ngFor="let turn of dialog.turns">
    <app-test-turn [turn]=turn></app-test-turn>
  </div>
  <hr> -->
</div>


