<div class="row">
    <div class="col col-lg-4" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Entity:
              </span>
            </div>
            <input [attr.disabled]="false" type="text" class="form-control" placeholder="{{entity.entity}}"/>
        </div>
      </div>
    <div class="col col-lg-4" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Confidence:
              </span>
            </div>
            <input [attr.disabled]="false" type="text" class="form-control" placeholder="{{entity.confidence}}"/>
        </div>
      </div>
    <div class="col col-lg-4" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              Value:
            </span>
          </div>
          <input [attr.disabled]="false" type="text" class="form-control" placeholder="{{entity.value}}"/>
      </div>
    </div>
</div>
