<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>This is the Test Core!</h3>
        <br>
    </div>
  </div>
  <div class="row" >
    <div class="col col-lg-10" >
        <div class="alert alert-success" role="alert">
            <li *ngFor="let message of messages">
              {{message}}
            </li>
        </div>
    </div>
    <div class="col col-lg-2" >
        <button type="button" class="btn btn-outline-danger" (click)="restart()">Restart</button>
    </div>
</div>
  <div class="row" >
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Text:
              </span>
            </div>
            <input [(ngModel)]="text"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{text}}"/>
          </div>
      </div>
      <div class="col col-lg-2" >
          <button type="button" class="btn btn-outline-success" (click)="send()">Send</button>
      </div>
  </div>
</div>
