<div class="container">
  <br>
  <app-dialog-selector (selectDialogOn)="onSelectDialog($event)" (testDialogOn)="onTestDialog($event)" ></app-dialog-selector>
  <app-test-case [wakeword]="wakeword" [prompt]="prompt" [testCriteria]="testCriteria" [criterias]="criterias"  (nluAnalyseOn)="onNluAnalyse()"></app-test-case>
  <hr>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-outline-primary" (click)="clear()">Clear</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-warning float-center" (click)="validate()">Validate</button>
      <button type="button" class="btn btn-outline-info float-center" (click)="save()">Save</button>
    </div>
    <div class="col-4">

        <div class="input-group mb-2">
            <!-- (change)="changeNextTurn()" -->
        <select [(ngModel)]= "nextTurn" class="custom-select">
                <option *ngFor="let next of nextTurns" [ngValue]="next">
                    {{next}}
                </option>
        </select>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-success" (click)="next()">Next</button>
       </div>
       <button type="button" class="btn btn-outline-danger float-right" (click)="back()">Back</button>
      </div>
  </div>
</div>
